body {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.textContainer {
    width: 90%; /* instead of 100% fixed */
    max-width: 300px;
    font-size: larger;
    background-color: aqua;
    margin-bottom: 30px;
    padding: 20px;
    word-wrap: break-word;
}

.textAreaContainer {
    width: 90%;
    max-width: 500px;
    margin-bottom: 20px;
    padding: 0px 15px;
}

#inputArea {
    width: 100%; 
    max-width: 400px;
    height: 200px;
    font-size: x-large;
    box-sizing: border-box;
    
}

#startTime {
    border-radius: 5px;
    height: 40px;
    width: 100px;
    background-color: rgb(37, 231, 154);
    cursor: pointer;
}

#startTime:hover {
    background-color: rgb(79, 79, 246);
    color: white;
}

.result {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 900;
}
